$main-text-color: #ffffff;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
$transform-function: scale(1.05) translateY(-5px);
$text-font: 20px;
$text-font-phone: 10px;
$link-font: 24px;
$link-font-phone: 12px;
$title-font: 28px;
$title-font-phone: 14px;
$title-font-huge: 120px;
$title-font-phone-huge: 60px;
