<main class="slider">
  <section class="slider__section">
    <div class="slider__first-slide container">
      <ul class="slider__list">
        <li class="slider__item">
          <h1 class="slider__title">
            Our vision <span class="slider__title--uppercase">design</span>
          </h1>
          <p class="slider__text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum.
          </p>
          <div class="wrapper">
            <div class="donut"></div>
            <a class="slider__link" href="">Take a look</a>
          </div>
        </li>
      </ul>
      <div class="btn-wrapper">
        <button class="button" type="button">back</button>
        <button class="button" type="button">front</button>
      </div>
    </div>
  </section>
</main>
<!-- <div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">0</li>
      <li class="glide__slide">1</li>
      <li class="glide__slide">2</li>
    </ul>
  </div>
  <div data-glide-el="controls">
    <button data-glide-dir="<">Start</button>
    <button data-glide-dir=">">End</button>
  </div>
</div> -->
